---
layout: layouts/base.njk
tags:
  - nav
navTitle: About
page:
  title: The world's biggest Kiss from a Rose fan
  bio: |
    Design in the browser, start with style tiles, build element collages — use Keynote, use Photoshop, use Chrome. The idea of starting from scratch and building something out is infinitely more challenging than it used to be, largely because it’s impossible to know where to start. By the time you adopt a process you’ve discovered the industry’s new favourite (and entirely different) way of working.

    That would be fine, but none are singularly effective. Full-comps are not representative, style-tiles don’t go far enough, element collages are isolated and confusing for clients, designing in the browser produces tired work. There is no ‘good’ way of designing for the web, since the scope has gotten out of hand.
---

<h1>{{ page.title }}</h1>

<img
  src="/dist/img/jay-freestone-boobs-320-320.jpg" alt=""
  srcset="/dist/img/jay-freestone-boobs-320-320.jpg 320w,
          /dist/img/jay-freestone-boobs-640-640.jpg 640w,
          /dist/img/jay-freestone-boobs-1280-1280.jpg 1280w"
>

{{ page.bio | md | safe }}
